<div class="row product-detail-row ng-scope">
  <div class="large-3 columns product-detail-icon-col"> <img class="product-detail-image" ng-src="images/product-kitchen-cleaner.png" src="images/product-kitchen-cleaner.png">
    <div class="suggested-replacements-container">
      <h4 class="suggested-replacements-heading">Buy Safer Products</h4>
      <div class="suggested-replacements ng-binding" ng-bind-html="product.replacements">
        <p>Look for products made with all-natural, organic and Ecocert ingredients at the organic section of your local grocery or local natural market. Or choose to shop online with Healthy Home Company and earn 10% cash rewards for referring others to do the same every time they buy!<br>
            <br>
            <a href="http://healthyhomecompany.com" target="_blank"><img src="images/replace_1.jpg" border="0"></a></p>
      </div>
    </div>
  </div>
  <div class="large-8 columns end product-detail-col">
    <h2 class="product-detail-name ng-binding" ng-bind="product.label">Kitchen Cleaner</h2>
    <p class="product-detail-instructions">Leading brands of <span class="product-detail-name-inline ng-binding" ng-bind="product.label.toLowerCase()">kitchen cleaner</span> contain the following chemicals. <br>
      Refer to your specific product label to see which toxic chemicals it&nbsp;may&nbsp;contain:</p>
    <table class="toxic-table">
      <thead class="toxic-table-head">
        <tr>
          <th class="toxic-table-col-heading" colspan="2">Toxic Ingredients </th>
          <th class="toxic-table-col-heading">Health Risks* </th>
        </tr>
      </thead>
      <tbody class="toxic-table-body">
        <!-- ngRepeat: ingredient in ingredients -->
        <tr class="ingredient-row ng-scope" ng-repeat="ingredient in ingredients">
          <td class="ingredient-checkbox-col"><input type="checkbox" class="ingredient-checkbox ng-isolate-scope ng-pristine ng-valid" name="2-Butoxyethanol" ng-checked="ingredient.isPresent" ng-model="ingredient.isPresent" ingredient="ingredient" product="product" checked="checked"></td>
          <td class="ingredient-name-col ng-binding" ng-bind="ingredient.label">2-Butoxyethanol</td>
          <td class="ingredient-concern-col"><span class="ingredient-concern ng-binding" ng-bind="ingredient.concern">Irritation to eyes, skin and nose, and nervous system effects </span>
            <ul class="ingredient-concern-source-list">
              <!-- ngRepeat: source in ingredient.sources -->
              <li class="ingredient-concern-source-list-item ng-scope" ng-repeat="source in ingredient.sources"><a href="http://www.cdc.gov/niosh/npg/npgd0070.html" target="_blank" class="ingredient-concern-source-link ng-binding">1</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.epa.gov/iris/toxreviews/0500tr.pdf" target="_blank" class="ingredient-concern-source-link ng-binding">2</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.ewg.org/research/greener-school-cleaning-supplies/study-findings" target="_blank" class="ingredient-concern-source-link ng-binding">3</a> </li>
              <!-- end ngRepeat: source in ingredient.sources -->
            </ul></td>
        </tr>
        <!-- end ngRepeat: ingredient in ingredients -->
        <tr class="ingredient-row ng-scope" ng-repeat="ingredient in ingredients">
          <td class="ingredient-checkbox-col"><input type="checkbox" class="ingredient-checkbox ng-isolate-scope ng-pristine ng-valid" name="Diethanolamine" ng-checked="ingredient.isPresent" ng-model="ingredient.isPresent" ingredient="ingredient" product="product" checked="checked"></td>
          <td class="ingredient-name-col ng-binding" ng-bind="ingredient.label">Diethanolamine</td>
          <td class="ingredient-concern-col"><span class="ingredient-concern ng-binding" ng-bind="ingredient.concern">Irritation to skin, nose and throat suspected human carcinogenic and confirmed carcinogen in experimental animal studies</span>
            <ul class="ingredient-concern-source-list">
              <!-- ngRepeat: source in ingredient.sources -->
              <li class="ingredient-concern-source-list-item ng-scope" ng-repeat="source in ingredient.sources"><a href="http://www.epa.gov/ttnatw01/hlthef/diethano.html" target="_blank" class="ingredient-concern-source-link ng-binding">1</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://monographs.iarc.fr/ENG/Monographs/vol101/mono101-004.pdf" target="_blank" class="ingredient-concern-source-link ng-binding">2</a></li>
              <!-- end ngRepeat: source in ingredient.sources -->
            </ul></td>
        </tr>
        <!-- end ngRepeat: ingredient in ingredients -->
        <tr class="ingredient-row ng-scope" ng-repeat="ingredient in ingredients">
          <td class="ingredient-checkbox-col"><input type="checkbox" class="ingredient-checkbox ng-isolate-scope ng-pristine ng-valid" name="Sulfuric Acid" ng-checked="ingredient.isPresent" ng-model="ingredient.isPresent" ingredient="ingredient" product="product" checked="checked"></td>
          <td class="ingredient-name-col ng-binding" ng-bind="ingredient.label">Sulfuric Acid</td>
          <td class="ingredient-concern-col"><span class="ingredient-concern ng-binding" ng-bind="ingredient.concern">Human carcinogen, skin and eye irritant and can affect pulmonary function</span>
            <ul class="ingredient-concern-source-list">
              <!-- ngRepeat: source in ingredient.sources -->
              <li class="ingredient-concern-source-list-item ng-scope" ng-repeat="source in ingredient.sources"><a href="http://www.atsdr.cdc.gov/toxfaqs/TF.asp?id=255&amp;tid=47" target="_blank" class="ingredient-concern-source-link ng-binding">1</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://monographs.iarc.fr/ENG/Monographs/vol100F/mono100F-33.pdf" target="_blank" class="ingredient-concern-source-link ng-binding">2</a> </li>
              <!-- end ngRepeat: source in ingredient.sources -->
            </ul></td>
        </tr>
        <!-- end ngRepeat: ingredient in ingredients -->
        <tr class="ingredient-row ng-scope" ng-repeat="ingredient in ingredients">
          <td class="ingredient-checkbox-col"><input type="checkbox" class="ingredient-checkbox ng-isolate-scope ng-pristine ng-valid" name="Sodium Borate" ng-checked="ingredient.isPresent" ng-model="ingredient.isPresent" ingredient="ingredient" product="product"></td>
          <td class="ingredient-name-col ng-binding" ng-bind="ingredient.label">Sodium Borate</td>
          <td class="ingredient-concern-col"><span class="ingredient-concern ng-binding" ng-bind="ingredient.concern">Skin irritation, respiratory effects and inflammation of the mucus membranes </span>
            <ul class="ingredient-concern-source-list">
              <!-- ngRepeat: source in ingredient.sources -->
              <li class="ingredient-concern-source-list-item ng-scope" ng-repeat="source in ingredient.sources"><a href="http://toxnet.nlm.nih.gov/cgi-bin/sis/search/a?dbs+hsdb:@term+@DOCNO+328" target="_blank" class="ingredient-concern-source-link ng-binding">1</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.cdc.gov/niosh/npg/npgd0057.html" target="_blank" class="ingredient-concern-source-link ng-binding">2</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.atsdr.cdc.gov/phs/phs.asp?id=451&amp;tid=80" target="_blank" class="ingredient-concern-source-link ng-binding">3</a> </li>
              <!-- end ngRepeat: source in ingredient.sources -->
            </ul></td>
        </tr>
        <!-- end ngRepeat: ingredient in ingredients -->
        <tr class="ingredient-row ng-scope" ng-repeat="ingredient in ingredients">
          <td class="ingredient-checkbox-col"><input type="checkbox" class="ingredient-checkbox ng-isolate-scope ng-pristine ng-valid" name="Glutaral" ng-checked="ingredient.isPresent" ng-model="ingredient.isPresent" ingredient="ingredient" product="product"></td>
          <td class="ingredient-name-col ng-binding" ng-bind="ingredient.label">Glutaral</td>
          <td class="ingredient-concern-col"><span class="ingredient-concern ng-binding" ng-bind="ingredient.concern">Irritation to the skin, eyes, and nose, and respiratory effects</span>
            <ul class="ingredient-concern-source-list">
              <!-- ngRepeat: source in ingredient.sources -->
              <li class="ingredient-concern-source-list-item ng-scope" ng-repeat="source in ingredient.sources"><a href="http://oehha.ca.gov/air/chronic_rels/pdf/111308.pdf" target="_blank" class="ingredient-concern-source-link ng-binding">1</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.cdc.gov/niosh/docs/2001-115/" target="_blank" class="ingredient-concern-source-link ng-binding">2</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.ewg.org/skindeep/ingredient/702607/GLUTARAL/" target="_blank" class="ingredient-concern-source-link ng-binding">3</a> </li>
              <!-- end ngRepeat: source in ingredient.sources -->
            </ul></td>
        </tr>
        <!-- end ngRepeat: ingredient in ingredients -->
        <tr class="ingredient-row ng-scope" ng-repeat="ingredient in ingredients">
          <td class="ingredient-checkbox-col"><input type="checkbox" class="ingredient-checkbox ng-isolate-scope ng-pristine ng-valid" name="Symclosene" ng-checked="ingredient.isPresent" ng-model="ingredient.isPresent" ingredient="ingredient" product="product"></td>
          <td class="ingredient-name-col ng-binding" ng-bind="ingredient.label">Symclosene</td>
          <td class="ingredient-concern-col"><span class="ingredient-concern ng-binding" ng-bind="ingredient.concern">Skin irritant, allergen and can cause respiratory distress </span>
            <ul class="ingredient-concern-source-list">
              <!-- ngRepeat: source in ingredient.sources -->
              <li class="ingredient-concern-source-list-item ng-scope" ng-repeat="source in ingredient.sources"><a href="http://nj.gov/health/eoh/rtkweb/documents/fs/1892.pdf" target="_blank" class="ingredient-concern-source-link ng-binding">1</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://pubchem.ncbi.nlm.nih.gov/compound/Symclosene#section=Exposure-Routes" target="_blank" class="ingredient-concern-source-link ng-binding">2</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://bluemsds.tdgmond.be/files/msds/BIOSPERSE 231_2011-01-02_EN_30.pdf" target="_blank" class="ingredient-concern-source-link ng-binding">3</a></li>
              <!-- end ngRepeat: source in ingredient.sources -->
            </ul></td>
        </tr>
        <!-- end ngRepeat: ingredient in ingredients -->
        <tr class="ingredient-row ng-scope" ng-repeat="ingredient in ingredients">
          <td class="ingredient-checkbox-col"><input type="checkbox" class="ingredient-checkbox ng-isolate-scope ng-pristine ng-valid" name="Formaldehyde" ng-checked="ingredient.isPresent" ng-model="ingredient.isPresent" ingredient="ingredient" product="product"></td>
          <td class="ingredient-name-col ng-binding" ng-bind="ingredient.label">Formaldehyde</td>
          <td class="ingredient-concern-col"><span class="ingredient-concern ng-binding" ng-bind="ingredient.concern">General systemic, organ and respiratory effects; considered a probable human carcinogen</span>
            <ul class="ingredient-concern-source-list">
              <!-- ngRepeat: source in ingredient.sources -->
              <li class="ingredient-concern-source-list-item ng-scope" ng-repeat="source in ingredient.sources"><a href="http://www.epa.gov/ttnatw01/hlthef/formalde.html" target="_blank" class="ingredient-concern-source-link ng-binding">1</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.atsdr.cdc.gov/toxprofiles/tp111.pdf" target="_blank" class="ingredient-concern-source-link ng-binding">2</a> </li>
              <!-- end ngRepeat: source in ingredient.sources -->
            </ul></td>
        </tr>
        <!-- end ngRepeat: ingredient in ingredients -->
        <tr class="ingredient-row ng-scope" ng-repeat="ingredient in ingredients">
          <td class="ingredient-checkbox-col"><input type="checkbox" class="ingredient-checkbox ng-isolate-scope ng-pristine ng-valid" name="Sodium Perborate" ng-checked="ingredient.isPresent" ng-model="ingredient.isPresent" ingredient="ingredient" product="product"></td>
          <td class="ingredient-name-col ng-binding" ng-bind="ingredient.label">Sodium Perborate</td>
          <td class="ingredient-concern-col"><span class="ingredient-concern ng-binding" ng-bind="ingredient.concern">Irritation to eyes and respiratory system, and can be harmful if swallowed </span>
            <ul class="ingredient-concern-source-list">
              <!-- ngRepeat: source in ingredient.sources -->
              <li class="ingredient-concern-source-list-item ng-scope" ng-repeat="source in ingredient.sources"><a href="http://www.icca-chem.org/Portal/SafetySummarySheets/634600737495685676_PSS Sodium perborate (PBS) monohydrate - V01.pdf" target="_blank" class="ingredient-concern-source-link ng-binding">1</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.atsdr.cdc.gov/toxprofiles/tp26-c2.pdf" target="_blank" class="ingredient-concern-source-link ng-binding">2</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.nlm.nih.gov/medlineplus/ency/article/002797.htm" target="_blank" class="ingredient-concern-source-link ng-binding">3</a> </li>
              <!-- end ngRepeat: source in ingredient.sources -->
            </ul></td>
        </tr>
        <!-- end ngRepeat: ingredient in ingredients -->
        <tr class="ingredient-row ng-scope" ng-repeat="ingredient in ingredients">
          <td class="ingredient-checkbox-col"><input type="checkbox" class="ingredient-checkbox ng-isolate-scope ng-pristine ng-valid" name="Glycol Ethers" ng-checked="ingredient.isPresent" ng-model="ingredient.isPresent" ingredient="ingredient" product="product"></td>
          <td class="ingredient-name-col ng-binding" ng-bind="ingredient.label">Glycol Ethers</td>
          <td class="ingredient-concern-col"><span class="ingredient-concern ng-binding" ng-bind="ingredient.concern">General systemic, organ, blood-related and respiratory effects </span>
            <ul class="ingredient-concern-source-list">
              <!-- ngRepeat: source in ingredient.sources -->
              <li class="ingredient-concern-source-list-item ng-scope" ng-repeat="source in ingredient.sources"><a href="http://www.epa.gov/ttnatw01/hlthef/glycolet.html" target="_blank" class="ingredient-concern-source-link ng-binding">1</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.ecetoc.org/index.php?mact=MCSoap,cntnt01,details,0&amp;cntnt01by_category=5&amp;cntnt01template=display_list_reports&amp;cntnt01order_by=Number Desc&amp;cntnt01document_id=242&amp;cntnt01returnid=89" target="_blank" class="ingredient-concern-source-link ng-binding">2</a> </li>
              <!-- end ngRepeat: source in ingredient.sources -->
            </ul></td>
        </tr>
        <!-- end ngRepeat: ingredient in ingredients -->
        <tr class="ingredient-row ng-scope" ng-repeat="ingredient in ingredients">
          <td class="ingredient-checkbox-col"><input type="checkbox" class="ingredient-checkbox ng-isolate-scope ng-pristine ng-valid" name="Ammonium Hydroxide" ng-checked="ingredient.isPresent" ng-model="ingredient.isPresent" ingredient="ingredient" product="product"></td>
          <td class="ingredient-name-col ng-binding" ng-bind="ingredient.label">Ammonium Hydroxide</td>
          <td class="ingredient-concern-col"><span class="ingredient-concern ng-binding" ng-bind="ingredient.concern">Damage to vision, skin and swelling of the airway</span>
            <ul class="ingredient-concern-source-list">
              <!-- ngRepeat: source in ingredient.sources -->
              <li class="ingredient-concern-source-list-item ng-scope" ng-repeat="source in ingredient.sources"> <a href="http://www.atsdr.cdc.gov/mmg/mmg.asp?id=7&amp;tid=2" target="_blank" class="ingredient-concern-source-link ng-binding">1</a> </li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://nj.gov/health/eoh/rtkweb/documents/fs/0103.pdf" target="_blank" class="ingredient-concern-source-link ng-binding">2</a></li>
              <li class="ingredient-concern-source-list-item ng-scope"><a href="http://www.cdc.gov/niosh/ershdb/EmergencyResponseCard_29750013.html" target="_blank" class="ingredient-concern-source-link ng-binding">3</a></li>
              <!-- end ngRepeat: source in ingredient.sources -->
            </ul></td>
        </tr>
        <!-- end ngRepeat: ingredient in ingredients -->
      </tbody>
    </table>
    <p class="product-detail-disclaimer">*Each one of these health risks is from a vetted, third-party resource. Please click on the <span class="inline-concern-source-icon"></span> icon next to each health concern to launch the corresponding&nbsp;study.</p>
	</div>
	<div class="large-1 columns end product-detail-col">
		<a class="product-complete-link side-click ng-scope" ng-click="completeSection(product.label)" ui-sref="products.product.top({ uri: product.nextProduct.uri })" ng-if="product.nextProduct.uri" href="furniture-cleaner"><img src="images/left-click.png" /></a>
	</div>
</div>
