# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/Code-Samples.iml
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
toxictext - angular repsonsive SPA/images/images/
