############################################################################
# Accounting Files
############################################################################

###
### Push message queues
###

<acct-file |/etc/pmta/mq_async_delivery.php>
records d
record-fields d rcpt,timeQueued,timeLogged,vmta,dlvSourceIp,header_From,header_X-Mailer-SID,header_X-Mailer-RecptId
</acct-file>

<acct-file |/etc/pmta/mq_async_fbl.php>
records f
record-fields f rcpt,timeLogged,feedbackType,userAgent,header_From,header_X-Mailer-SID,header_X-Mailer-RecptId
</acct-file>

<acct-file |/etc/pmta/mq_async_bounce.php>
records b
record-fields b rcpt,timeLogged,bounceCat,header_X-Mailer-SID,header_X-Mailer-RecptId
</acct-file>

<acct-file |/etc/pmta/mq_async_transient.php>
records t
record-fields t timeLogged,timeQueued,rcpt,dsnDiag,dlvSourceIp,dlvDestinationIp,jobId
</acct-file>

###
### Accounting csv files
###

<acct-file /var/log/pmta/delivered.csv>
record-fields delivery rcpt,timeQueued,timeLogged,orig,rcpt,vmta,dsnAction,dsnDiag,header_Message-Id,header_X-Mailer-SID,header_X-Mailer-RecptId,dlvSourceIp,header_From
records d
</acct-file>

<acct-file /var/log/pmta/fbl.csv>
records feedback-loop
record-fields f *,header_X-Mailer-SID,header_X-Mailer-RecptId,header_X-Mailer-Sent-By
</acct-file>

<acct-file /var/log/pmta/bounced.csv>
record-fields bounce rcpt,orig,dsnDiag,dsnMta,bounceCat,dlvSourceIp,dlvDestinationIp,vmta,timeLogged,jobId
records b
</acct-file>

<acct-file /var/log/pmta/full_log.csv>
records r,b,rb,t,tq,d
</acct-file>
